{
    "extends": [
      "eslint:recommended",
      "plugin:prettier/recommended",
      "prettier"
    ],
    "plugins": ["prettier"],
    "rules": {
      "prettier/prettier": "error"
    },
    "env": {
        "browser": true,
        "amd": true,
        "node": true
    }
  }